@model ArchaeoAnalysisHub.ViewModels.AnalysisFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm(Model.Action, "Analyses"))
        {
            <p class="alert alert-info">All fields are <strong>required</strong>.</p>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Sample)
                @Html.DropDownListFor(m => m.SampleId, new SelectList(Model.Samples, "Id", "Id"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SampleId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AnalysisType)
                @Html.DropDownListFor(m => m.AnalysisTypeId, new SelectList(Model.AnalysisTypes, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AnalysisTypeId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SpectrumNo)
                @Html.TextBoxFor(m => m.SpectrumNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SpectrumNo)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsBulk)
                @Html.CheckBoxFor(m => m.IsBulk, new { @class = "check-box" })
                @Html.ValidationMessageFor(m => m.IsBulk)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsNormalised)
                @Html.CheckBoxFor(m => m.IsNormalised, new { @class = "check-box" })
                @Html.ValidationMessageFor(m => m.IsNormalised)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsPublic)
                @Html.CheckBoxFor(m => m.IsPublic, new { @class = "check-box" })
                @Html.ValidationMessageFor(m => m.IsPublic)
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        }
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(m => m.AnalysisDataPoints.FirstOrDefault().Symbol)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.AnalysisDataPoints.FirstOrDefault().ResultInPercentage)</th>
                    <th scope="col"></th>
            </thead>
            <tbody>
                @foreach (var dp in Model.AnalysisDataPoints)
                {
                    <tr>
                        <td>@dp.Symbol</td>
                        <td>@dp.ResultInPercentage</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "AnalysisDataPoints", new { id = dp.Id }, new { @class = "link-details" })
                            |
                            @Html.ActionLink("Delete", "Delete", "AnalysisDataPoints", new { id = dp.Id }, new { @class = "link-details" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","AnalysisDataPoints", new { analysisId = Model.Id })'">Add a new data point</button>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
}




