
@model ArchaeoAnalysisHub.ViewModels.AnalysisFormViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headline">Analysis id: @Model.Id</h2>
<div class="row">
    <div class="col-md-4">
        <div class="property">@Html.DisplayNameFor(m => m.AnalysisType.Name):</div>
        <div>@Html.DisplayFor(m => m.AnalysisType.Name)</div>
        <div class="property">@Html.DisplayNameFor(m => m.SpectrumNo):</div>
        <div>@Html.DisplayFor(m => m.SpectrumNo)</div>
        <div class="property">@Html.DisplayNameFor(m => m.Sample.Artefact.Name):</div>
        <div>
            @Html.ActionLink(Model.Sample.Artefact.Name, "Details", "Artefacts", new { id = Model.Sample.Artefact.Id }, new { @class = "link-details" })
        </div>
        <div class="property">@Html.DisplayNameFor(m => m.Sample.Artefact.ArtefactType.Name):</div>
        <div>@Html.DisplayFor(m => m.Sample.Artefact.ArtefactType.Name)</div>
        <div class="property">@Html.DisplayNameFor(m => m.Sample.Id):</div>
        <div>
            @Html.ActionLink(Model.Sample.Id.ToString(), "Details", "Samples", new { id = Model.Sample.Id }, new { @class = "link-details" })
        </div>
        <div class="property">@Html.DisplayNameFor(m => m.Sample.SampleType.Name):</div>
        <div>@Html.DisplayFor(m => m.Sample.SampleType.Name)</div>
    </div>
    <div class="col-md-1">
        <div class="property">@Html.DisplayNameFor(m => m.IsBulk):</div>
        @if (Model.IsBulk)
        {
            <div>yes</div>
        }
        else
        {
            <div>no</div>
        }
        <div class="property">@Html.DisplayNameFor(m => m.IsNormalised):</div>
        @if (Model.IsNormalised)
        {
            <div>yes</div>
        }
        else
        {
            <div>no</div>
        }
        <div class="property">Added by:</div>
        <div>@Html.DisplayFor(m => m.Owner.Name)</div>
        <div class="property">Added date:</div>
        <div>@Html.DisplayFor(m => m.AddedDate)</div>
    </div>
    @if (Model.ShowActionButtons)
    {
        <div class="col-md-4">
            @Html.ActionLink("Edit", "Edit", "Analyses", new { id = @Model.Id }, new { @class = "link-details" })
            |
            @Html.ActionLink("Delete", "Delete", "Analyses", new { id = @Model.Id }, new { @class = "link-details" })
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Results</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(m => m.AnalysisDataPoints.FirstOrDefault().Symbol)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.AnalysisDataPoints.FirstOrDefault().ResultInPercentage)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dp in Model.AnalysisDataPoints)
                {
                    <tr>
                        <td>@dp.Symbol</td>
                        <td>@dp.ResultInPercentage</td>
                    </tr>
                }
            </tbody>
            @if (@Model.AnalysisDataPoints != null)
            {
                <tfoot>
                    <tr>
                        <th>Sum</th>
                        <td>@Model.AnalysisDataPoints.Sum(dp => dp.ResultInPercentage)</td>
                    </tr>
                </tfoot>
            }

        </table>

    </div>
    <div class="col-md-4">
        @if (@Model.SpectrumImage != null)
        {
            <div>
                <img src=@Model.SpectrumImage.Url class="img-details img-modal" />
            </div>
        }
        @if (@Model.GeneralImage != null)
        {
            <div>
                <img src=@Model.GeneralImage.Url class="img-details img-modal" />
            </div>
        }
    </div>
</div>

<!-- The Modal -->
<div id="modalWindow" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01" />
    <div id="caption"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/js-site-analysis-form")
}


