@model ArchaeoAnalysisHub.ViewModels.AnalysesViewModel
@{
    /**/

    ViewBag.Title = Model.Heading;
}

<div class="row">
    <div class="container col-sm-9">
        <div class="col-sm-5">
            <h3 class="headline">@Model.Heading</h3>
        </div>
    </div>

</div>

@if (Model.IsInSelectMode)
{
    @Html.Partial("_CreateTernaryPlotPartial", Model.TernaryPlot)
}

@using (Html.BeginForm("Search", "Analyses"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by artefact, type ..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<div class="row">

    @foreach (var analysis in Model.Analyses)
    {

        <div class="container col-sm-9">
            <div class="row">
                <div class="col-sm-2 list-img-col">
                    <div class="wordcloud" id="@analysis.Id"></div>
                    <img src=@analysis.GeneralImage.Url alt=@analysis.GeneralImage.Name class="img-modal">
                </div>
                <div class="col-sm-5">
                    <h4 class="card-title">
                        Artefact:
                        @Html.ActionLink(analysis.Sample.Artefact.Name, "Details", "Artefacts", new { id = analysis.Sample.Artefact.Id }, new { @class = "link-details" })
                    </h4>
                    <p>by @analysis.Sample.Artefact.Owner.Name | @analysis.Sample.Artefact.Country</p>
                    <p>@analysis.Sample.Artefact.ArtefactType.Name</p>
                    <p>
                        @Html.ActionLink("sample", "Details", "Samples", new { id = analysis.Sample.Id }, new { @class = "link-details" })
                        type: @analysis.Sample.SampleType.Name
                    </p>
                    <p>analysis type: @analysis.AnalysisType.Name</p>
                    <table class="table">
                        <thead>
                            <tr>
                                @foreach (var dp in analysis.AnalysisDataPoints)
                                {
                                    <th scope="col" class="@analysis.Id">
                                        @dp.Symbol
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var dp in analysis.AnalysisDataPoints)
                                {
                                    <td class="@analysis.Id">@dp.ResultInPercentage</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2 list-right-menu">
                    <button class="btn btn-secondary btn-sm pull-right with-margin" onclick="location.href='@Url.Action("Details","Analyses", new { id = analysis.Id })'">View</button>
                    @if (Model.IsInSelectMode)
                    {
                        <button data-analysis-id="@analysis.Id" class="btn btn-default btn-sm pull-right with-margin js-toggle-plotting">Plot?</button>
                    }

                </div>
            </div>
            <hr />
        </div>
    }

</div>

<!-- The Modal -->
<div id="modalWindow" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01" />
    <div id="caption"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/js-site-analyses")
}




